In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('DelayedFlights.csv')
dataset = pd.DataFrame(df)
print(dataset.axes)
dfinal = dataset.drop(columns = ['Unnamed: 0', 'DayofMonth', 'DayOfWeek',
       'CRSDepTime', 'CRSArrTime', 'UniqueCarrier',
       'TailNum', 'CRSElapsedTime', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'])
print(dfinal)
dfinal.describe()

[RangeIndex(start=0, stop=1936758, step=1), Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')]
         Year  Month  DepTime  ArrTime  FlightNum  ActualElapsedTime  AirTime  \
0        2008      1   2003.0   2211.0        335              128.0    116.0
1        2008      1    754.0   1002.0       3231              128.0    113.0
2        2008      1    628.0    804.0        448               96.0     76.0
3        2008      1   1829.0   1959.0       3920               90.0     77.0
4        2008      1   1940.0   2121.0        378              101.0     87.0
...       ...    ...      ...      ...        ...                ...      ...
1936753  2008     12   1250.0   1617.0       1621              147.0    120.0
1936754  2008     12    657.0    904.0       1631              127.0     78.0
1936755  2008     12   1007.0   1149.0       1631              162.0    122.0
1936756  2008     12   1251.0   1446.0       1639              115.0     89.0
1936757  2008     12   1110.0   1413.0       1641              123.0    104.0

         ArrDelay  DepDelay Origin Dest  Distance
0           -14.0       8.0    IAD  TPA       810
1             2.0      19.0    IAD  TPA       810
2            14.0       8.0    IND  BWI       515
3            34.0      34.0    IND  BWI       515
4            11.0      25.0    IND  JAX       688
...           ...       ...    ...  ...       ...
1936753      25.0      30.0    MSP  ATL       906
1936754      75.0      57.0    RIC  ATL       481
1936755      99.0      80.0    ATL  IAH       689
1936756       9.0      11.0    IAD  ATL       533
1936757      -5.0       7.0    SAT  ATL       874

[1936758 rows x 12 columns]

,Year,Month,DepTime,ArrTime,FlightNum,ActualElapsedTime,AirTime,ArrDelay,DepDelay,Distance
count,1936758.0,1.936758e+06,1.936758e+06,1.929648e+06,1.936758e+06,1.928371e+06,1.928371e+06,1.928371e+06,1.936758e+06,1.936758e+06
mean,2008.0,6.111106e+00,1.518534e+03,1.610141e+03,2.184263e+03,1.333059e+02,1.082771e+02,4.219988e+01,4.318518e+01,7.656862e+02
std,0.0,3.482546e+00,4.504853e+02,5.481781e+02,1.944702e+03,7.206007e+01,6.864261e+01,5.678472e+01,5.340250e+01,5.744797e+02
min,2008.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.400000e+01,0.000000e+00,-1.090000e+02,6.000000e+00,1.100000e+01
25%,2008.0,3.000000e+00,1.203000e+03,1.316000e+03,6.100000e+02,8.000000e+01,5.800000e+01,9.000000e+00,1.200000e+01,3.380000e+02
50%,2008.0,6.000000e+00,1.545000e+03,1.715000e+03,1.543000e+03,1.160000e+02,9.000000e+01,2.400000e+01,2.400000e+01,6.060000e+02
75%,2008.0,9.000000e+00,1.900000e+03,2.030000e+03,3.422000e+03,1.650000e+02,1.370000e+02,5.600000e+01,5.300000e+01,9.980000e+02
max,2008.0,1.200000e+01,2.400000e+03,2.400000e+03,9.742000e+03,1.114000e+03,1.091000e+03,2.461000e+03,2.467000e+03,4.962000e+03